grupolibro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Restricciones de tipos de datos -->

  <xs:simpleType name="String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="generoType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="fantástico"/>
      <xs:enumeration value="histórico"/>
      <xs:enumeration value="terror"/>
      <xs:enumeration value="thriller"/>
      <xs:enumeration value="humor"/>
    </xs:restriction>
  </xs:simpleType>

  

  <xs:element name="libreria">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="libro" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="String"/>
              <xs:element name="escritores" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
              <xs:element name="publicacion" type="xs:date"/>
              <xs:element name="genero" type="generoType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="ediciones" type="xs:int" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
