presentacionmusica.xsd

<?xml version="1.1" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="presentacion_musica">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "grupos" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"/>
                            <xs:element name="genero" type="xs:string"/>
                            <xs:element name="contactos">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="email" type="xs:string"/>
                                        <xs:element name="facebo" type="xs:string"/>
                                        <xs:element name="instagram" type="xs:string"/>
                                        <xs:element name="twitter" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="webofficial" type="xs:string"/>
                            <xs:element name="integrantes">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="integrante" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="nombre" type="xs:string"/>
                                                    <xs:element name="edad" type="xs:int"/>
                                                    <xs:element name="funcion" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>